.div1{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.div2{
  position: fixed;
  left: 50px;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: rgb(85, 85, 85);
}

img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
}

p{
  margin-left: 10px;
  color: rgb(160, 157, 157);
}

.diva{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.divar{
  font-weight: bold;
  margin-left: 10px;
  color: white;
  font-family: Arial;
}